*{
    box-sizing: border-box;
}

html, body{
}

body{
    width: 100%;
    margin: 0;
    
}

.content{
    font-family: 'Roboto', sans-serif;
    background-color: white;
   
}

.wrapper{
    width: 85%;
    margin: auto;
}

section {
 text-align: center;
}

section img {
    width: 100%;
    max-width: 480px;
}

.first-image {
    margin-top: 20px;

}


figcaption{
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
    margin: 20px auto 40px ;    
}

section p{
  font-size: 0.8rem;
  color:#016ff9;
  margin-top: 17px;
  margin-bottom: 17px;
  font-weight: 500;

}

.border1 {
    border-top: 1px solid #d4ecfc;
}

.border2{
    border-bottom: 1px solid #d4ecfc;
    margin-top:40px;
}

section .p2{
    font-size: 0.8rem;
  color:#016ff9;
  margin-top: 17px;
  margin-bottom: 13px;
}

section .p3{
    font-size: 2rem;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 30px;
}

section button{
    margin-top: -30px;
    padding: 15px 45px;
    color: blue;
    border-radius: 17px;
    border: 1px #d4ecfc solid;
    background-color: white;
    font-size: 0.9rem;
}

.button2 {
    background-color: #016ff9;
    color: white;
}

.btn-free-trial {
    margin-bottom: 20px;
}









